{% extends 'base.html' %}
{% block title %}Error!!!{% endblock title %}

{% block content %}

<div class="unau-container">
    <div class="container">
        <div class="row">
            <p><h1 class=' text-danger'>Unauthorized Access!!</h1></p>
                <div>
                    <div>
                        <p>
                            <h4>You do not not have access! click <a href="/">here</a> to go back to the home page</h4>
                        </p>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}