{% extends 'base.html' %}
{% block title %}{{trending.title}}{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}
                        
                            <div class="container">
                                <div class="row">
                                    <div class= 'unau-container'>
                                        <div class=' mt-5'>
                                                <p><h4  class=' fw-bold text-dark'>{{trending.title}}</h5></p> 
                                                <p><small>by: {{trending.author}} 
                                                    {% if user.is_staff %}
                                                        | <a href=" {% url 'edit_trend' trending.pk %} ">(edit)</a> | <a href=" {% url 'delete_trend' trending.pk %} ">(delete)</a>
                                                    {% endif %}
                                                    </small></p>
                                                <p>{{trending.body|safe}}</p> 
                                                <div style=' display:flex, margin-left: 10px;'>
                                                    {% if trending.image %}
                                                        <p><img src="{{trending.image.url}}" alt="" width='300'></p>
                                                        {% endif %}
                                                        {% if trending.image2 %}
                                                        <p><img src="{{trending.image2.url}}" alt="" width='300' ></p>
                                                    {% endif %}
                                                </div>
                                                <form action="{% url 'like_post' trending.pk %}" method= 'POST'>
                                                {% csrf_token %}
                                                <input type="hidden" name="model_name" value="trend">
                                                <button type='submit' name='post_id' value='{{trending.pk}}' class='btn btn-primary btn-sm'>{{total_likes}} - Likes</button>
                                                </form>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        

    {% else %}
            <div  class="unau-container">
                <p>
                    <h6>Kindly <a href="{% url 'register' %}" class= ' fw-bold'>Sign-up</a> or <a href="{% url 'login' %}" class= ' fw-bold'>login</a> to view the full article</h6>
                </p>
                
            </div>

    {% endif %}
   
{% endblock content %}
                        
                        